.blog-list {
    display: flex;
    justify-content: center;
    row-gap: 20px;
}

.blog-item {
    margin-bottom: 60px;
    max-width: 500px;
}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags li {
    display: inline-block;
}

.tags li:not(:first-child) {
    padding: 0 0.25rem;
}