.navbar {
    background: rgb(214,245,255);
    background: linear-gradient(146deg, rgba(214,245,255,1) 0%, rgba(142,198,220,1) 100%);
}

.nav-text,
.nav-link {
    font-size: 1.25rem;
}

.navbar-nav {
    gap: 15px;
}

.navbar-hidden {
    transform: translateY(-70px);
    transition: transform 0.3s ease-in-out;
}

li {
    font-size: 1.25rem;
}