.contact-container-style {
    background: rgb(214,245,255);
    background: linear-gradient(146deg, rgba(214,245,255,1) 0%, rgba(142,198,220,1) 100%);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 50px;
}

.center-content {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .contact-container-style {
        width: 50%;
    }
}
